@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Racing+Sans+One&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #747474;
  font-family: "Poppins", sans-serif;
}

.bugatti_main {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 700px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 2.67997px 5.35993px 26.7997px rgba(0, 0, 0, 0.67);
  overflow: hidden;
}

.bugatti_bgImage {
  background-image: url(https://images.hdqwalls.com/wallpapers/black-bugatti-chiron-jg.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: brightness(80%);
}

.bugatti_gradient {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.721) 100%
  );
  width: 100%;
  height: 300px;
  border-radius: 0 0 20px 20px;
}

.bugatti_nav {
  position: absolute;
  top: 20px;
  left: 30%;
  display: flex;
  gap: 40px;
  align-items: center;
  opacity: 0;
  animation: fade-in 0.5s linear forwards;
  animation-delay: 2.5s;
}

.bugatti_nav img {
  width: 70px;
}

.bugatti_nav p {
  font-size: 13px;
  font-weight: 700;
}

.bugatti_nav p:hover {
  cursor: pointer;
  color: #830000;
}

/* ----------------------------------------------- */

.bugatti_make {
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 40px;
  font-weight: 400;
  opacity: 0;
  animation: fade-in 0.5s linear forwards;
  animation-delay: 0.5s;
}

.bugatti_model {
  position: absolute;
  top: 22%;
  left: 5%;
  font-size: 120px;
  font-weight: 700;
  color: #830000;
  text-shadow: 4.13753px 4.13753px 8.27506px #252525;
  opacity: 0;
  animation: fade-in 0.5s linear forwards;
  animation-delay: 1s;
}

.bugatti_btn {
  position: absolute;
  top: 50%;
  left: 5%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.224);
  padding: 10px 60px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  opacity: 0;
  animation: move-down 0.5s linear forwards;
  animation-delay: 1.5s;
}

.bugatti_btn:hover {
  cursor: pointer;
  background-color: #830000;
  color: #fff;
}

@keyframes move-down {
  100% {
    opacity: 1;
  }
}

/* --------------------------------------------- */

.bugatti_about {
  position: absolute;
  bottom: 12%;
  left: 5%;
  width: 50%;
  opacity: 0;
  animation: fade-in 1s linear forwards;
  animation-delay: 1.5s;
}

.bugatti_about h3 {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.bugatti_about p {
  color: #cbcbcb;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

/* ---------------------------------------- */

.bugatti_spec {
  position: absolute;
  bottom: 10%;
  right: -25%;
  display: flex;
  gap: 10px;
  opacity: 0;
  scale: 0;
  animation: move-up 0.3s linear forwards;
  animation-delay: 2s;
}

.bugatti_info {
  background: #830000;
  box-shadow: 3.31002px 3.31002px 41.3753px #452828;
  backdrop-filter: blur(20.6877px);
  width: 140px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.bugatti_info p {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.bugatti_info h3 {
  font-weight: 400;
  font-size: 25px;

  color: #ffffff;
  font-family: "Racing Sans One", cursive;
}

@keyframes move-up {
  100% {
    right: 5%;
    opacity: 1;
    scale: 1;
  }
}

/* ------------------------------------------- */

.bugatti_social {
  position: absolute;
  top: 40%;
  right: -30px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: slide-in 0.2s linear forwards;
  animation-delay: 2s;
}

.bugatti_social img {
  width: 25px;
}

@keyframes slide-in {
  100% {
    right: 20px;
    opacity: 1;
  }
}
